.App {
  width: 900px;
  margin: 50px auto;
}

.link {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 50px;
}

.submit {
  margin-left: 20px;
  border-radius: 5px;
}
.commentInput {
  width: 300px;
  margin-top: 20px;
  border-radius: 5px;
}
